body {
  background-color: rgb(65, 33, 116);
  color: #ffffff;
  padding-left: 10;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

main {
  margin: 0;
  width: 700px;
  margin: 0 auto;
  margin-top: 15px;
  justify-content: space-between;
}

aside {
  width: 100%;
  display: flex;
  background-color: rgb(65, 33, 116);
  gap: 7px;
}